body {
	font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana",
		"sans-serif";
	font-size: 0.95em; /* Шрифт на веб-странице */
	margin: 10px auto;
	padding: 20px;
	background: #ffffff; /* Цвет фона */
}

button {
	margin: 4px;
}

.tasklist {
	margin: 0;
	padding: 0;
	list-style: none;
}

.tasklist tr {
	background: #ffffff;
	padding: 10px 20px 10px;
	border-top: solid 1px #c4df9b;
	cursor: pointer;
}

.tasklist tr:hover {
	background: #f6ffe9;
}

.selected {
	background: #e6ffd9 !important;
}