<!DOCTYPE html>
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Тестовое задание SearchInform</title>
<!-- Required meta tags for Bootstrap -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<link type="image/x-icon" rel="shortcut icon" href="images/favicon.ico" />
<!-- Стили -->
<link type="text/css" rel="Stylesheet" href="templates/css/bootstrap.css" />
<!-- Скрипты -->
<script type="text/javascript" src="templates/js/jquery-3.3.1.slim.min.js"></script>
<script type="text/javascript" src="templates/js/bootstrap.bundle.js"></script>
</head>

<body>
    <br>
    <?php echo "123"; ?>
    <br>
    <?php echo $asd; ?>
</body>

</html>
